<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated xmiextension -->
      <package
            uri="http://schema.omg.org/spec/XMI/2.1"
            class="com.thalesgroup.capella.bridge.uml.ea.model.xmi.XmiPackage"
            genModel="model/xmiextension.genmodel"/>
   </extension>

</plugin>
